body {
	font-family: 'Ubuntu', sans-serif;
}

.widget-2 {
	height: 320px;
	width: 250px; 
    background-color: #444f51;
    position: absolute;
    border-radius: 5px;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto
}

.widget-2 h2 {
	font-size: 14px;
	letter-spacing: 0.5px;
	color: #ffffff;
	text-transform: uppercase;
	text-align: center;
	margin: 13% 5%;
}

.e-mail {
  position: relative;
  text-align: center;
  color: #bdbec0;
  font-size: 16px;
}

.e-mail input {
	font-family: 'Ubuntu', sans-serif;
	height: 30px;
	width: 220px;
	text-indent: 32px;
	color: #ffffff;
	border: 2px transparent solid;
  	background-color: #363e40;
  	border-radius: 5px;
}

.e-mail .fa-envelope { 
  position: absolute;
  top: 10px;
  left: 23px;
}

.password {
  position: relative;
  text-align: center;
  color: #bdbec0;
  font-size: 16px;
  margin-top: 20px;
}

.password input {
	font-family: 'Ubuntu', sans-serif;
	height: 30px;
	width: 220px;
	text-indent: 32px;
	color: #ffffff;
	border: 2px transparent solid;
  background-color: #363e40;
  border-radius: 5px;
}

.password .fa-lock { 
  position: absolute;
  top: 10px;
  left: 23px;
}

.input-fields input:focus {
	border: 2px #dd7500 solid;
}

.sign-in-btn {
	display: flex;
	margin-top: 20px;
	justify-content: center;
}

.sign-in-btn button {
	font-family: 'Ubuntu', sans-serif;
	text-transform: uppercase;
	color: #ffffff;
	height: 40px;
	width: 140px;
	margin: auto;
	border-style: none;
	border-radius: 5px;
	text-decoration: none;
	background-color: #a03033;
}

.sign-in-btn button:hover {
	background-color: #d94146;
	cursor: pointer;
}

.forgot-password-link {
	display: flex;
	justify-content: center;
	margin-top: 15px;
	margin-bottom: 20px;
}

.forgot-password-link a {
	text-decoration: none;
	color: #bdbec0;
	font-size: 14px;
}

.forgot-password-link a:hover {
	text-decoration: underline;
	color: #ffffff;
}

.fb-login-btn {
	display: flex;
	justify-content: center;
	position: absolute;
	bottom: 0px;
	height: 12%;
	width: 100%;
	background-color: #3468af;
}

.fb-login-btn a {
	align-self: center;
	font-size: 14px;
	text-decoration: none;
	color: #ffffff;
}

.fb-login-btn .fa-facebook-f { 
  	position: absolute;
  	top: 12px;
  	left: 35px;
  	/*border-radius: 50%;
  	border: 2px #ffffff solid;*/ 
}

.fb-login-btn button {
	display: flex;
	font-family: 'Ubuntu', sans-serif;
	justify-content: center;
	width: 100%;
	padding: 12px;
	border-style: none;
	background-color: #3468af;
	color: #ffffff; 
}

.fb-login-btn:hover {
	background-color: #1a4e95;
	cursor: pointer;
}